.horizontal-article {
  padding-bottom: 5px;
  margin-top: 20px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.horizontal-article .article-image-container {
  width: 40%;
}
.horizontal-article .article-image {
  width: 100%;
  box-shadow: 0px 5px 10px #0000000d;
  border-radius: 7px;
}

.horizontal-article .article-details-container {
  width: 50%;
  padding-left: 30px;
}

.horizontal-article .article-title {
  font-size: 22px;
  font-weight: 500;
  color: #404040;
}
.horizontal-article .article-desc {
  font-size: 15px;
  font-weight: 400;
  color: #908d8d;
  margin: 15px 0px;
}
.horizontal-article .article-category-and-date {
  font-size: 14px;
  margin: 20px 0px;
}
.horizontal-article .article-category {
  color: #404040;
  font-weight: 700;
  padding-right: 5px;
}
.horizontal-article .article-date {
  color: #404040;
  opacity: 0.7;
  padding-left: 5px;
}

/* Responsive HorizonatlArticle.css */

/* For screen-size 1000px-1200px */
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .horizontal-article .article-desc {
    margin: 10px 0px;
  }
  .horizontal-article .article-details-container {
    width: 60%;
    padding-left: 30px;
  }
  .horizontal-article .article-category-and-date {
    font-size: 14px;
    margin: 15px 0px;
  }
}

/* For screen-size 800px-1000px */
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .horizontal-article .article-desc {
    margin: 0px 0px;
  }
  .horizontal-article .article-details-container {
    width: 60%;
    padding-left: 20px;
  }

  .horizontal-article .article-title {
    font-size: 21px;
  }
  .horizontal-article .article-desc {
    font-size: 14px;
  }
  .horizontal-article .article-category-and-date {
    font-size: 14px;
    margin: 10px 0px;
  }
}
