@font-face {
  font-family: Georgia, "Times New Roman", Times, serif;
  src: url("../../assets/fonts/georgia/Georgia.ttf");
}

.display-article {
  margin-top: 20px;
}
.display-article .article-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
  font-size: 30px;
  padding-top: 20px;
}
.display-article .article-image {
  width: 100%;
  height: auto;
}
.display-article .article-text-container {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
  margin: 30px 0px;
  font-size: 16px;
  text-align: left;
}
.display-article .keyword-container {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
  margin: 20px 0px;
  font-size: 16px;
  text-align: left;
}
.display-article .keyword-btn {
  color: #a2a2a2;
  background-color: #f2f2f2;
  border: none;
  padding: 10px 15px;
  margin-right: 25px;
}
.display-article .article-reactions {
  text-align: left;
  display: flex;
  align-items: center;
}
.display-article .reaction-image {
  margin-right: 5px;
}

.display-article .article-reactions p {
  display: inline-block;
  color: #939393;
  font-size: 14px;
  margin-right: 5px;
}
