.author-portfolio {
  width: 80%;
  margin: auto;
}
.author-portfolio .portfolio-title {
  text-align: left;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}
.author-portfolio .articles-container {
  border-top: 3px solid #f0f0f0;
  margin: 35px 0px;
  padding: 40px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.author-portfolio .articles-container .article {
  width: 29%;
}
.author-portfolio .articles-container .article a {
  text-decoration: none;
}
.author-portfolio .articles-container .article-image {
  width: 100%;
  /* height: 230px; */
  height: 16vw;
  border-radius: 7px;
}
.author-portfolio .articles-container .article-name {
  text-align: left;
  font-size: 22px;
  font-weight: 500;
  color: #404040;
}

/* Responsive AuthorPortfolio.css */

/* For screen-size 800px-1000px */
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .author-portfolio .author-details-container {
    display: none;
  }
  .author-portfolio .articles-container .article-name {
    font-size: 20px;
  }
}
/* For screen-size 650px-800px */
@media screen and (min-width: 650px) and (max-width: 800px) {
  .author-portfolio .author-details-container {
    display: none;
  }
  .author-portfolio .articles-container .article-name {
    font-size: 20px;
  }
}
