.category .flex-row {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category .flex-row .left-box {
  width: 68%;
}
.category .flex-row .right-box {
  width: 32%;
}

/* Responsive Category.css */

/* For screen-size 800px-1000px */
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .category .flex-row {
    width: 82%;
  }
  .category .flex-row .left-box {
    width: 65%;
  }
  .category .flex-row .right-box {
    width: 35%;
  }
}
/* For screen-size 650px-800px */
@media screen and (min-width: 650px) and (max-width: 800px) {
  .category .flex-row {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .category .flex-row .left-box {
    width: 100%;
  }
  .category .flex-row .right-box {
    width: 100%;
  }
}
/* For screen-size 350px-650px */
@media screen and (min-width: 350px) and (max-width: 650px) {
  .category .flex-row {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .category .flex-row .left-box {
    width: 100%;
  }
  .category .flex-row .right-box {
    width: 100%;
  }
}
