.top-posts-vertical {
  text-align: left;
  margin-top: 50px;
}

.top-posts-vertical .top-posts-title {
  display: inline-block;
  font-size: 30px;
  color: #000000;
  font-weight: 500;
  border-bottom: 3px solid #f08080;
  margin: 15px 0px;
  padding: 10px 0px;
}
.top-posts-vertical .top-posts-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.top-posts-vertical .post-container a {
  text-decoration: none;
}
.top-posts-vertical .post-container {
  border-bottom: 3px solid #f0f0f0;
}
.top-posts-vertical .post-container:last-child {
  border-bottom: none;
}

/* Responsive TopPostsVertical.css */
/* For screen-size 1000px-1200px */

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .top-posts-vertical .top-posts-title {
    font-size: 28px;
  }
}

/* For screen-size 800px-1000px */

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .top-posts-vertical {
    margin-top: 30px;
  }
  .top-posts-vertical .top-posts-title {
    font-size: 27px;
  }
}

/* For screen-size 650px-800px */

@media screen and (min-width: 650px) and (max-width: 800px) {
  .top-posts-vertical {
    margin: 20px 0px;
  }
  .top-posts-vertical .top-posts-title {
    font-size: 27px;
  }
}
/* For screen-size 350px-650px */

@media screen and (min-width: 350px) and (max-width: 650px) {
  .top-posts-vertical {
    margin: 20px 0px;
  }
  .top-posts-vertical .top-posts-title {
    font-size: 27px;
  }
}
