.home .flex-row {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home .flex-row .left-box {
  width: 68%;
}
.home .flex-row .right-box {
  width: 32%;
}
