.header-container {
  width: 75%;
  margin: auto;
  border-bottom: 3px solid #f0f0f0;
  padding: 10px;
}
.header-container .logo-container {
  width: 100%;
  margin-top: 10px;
}
.header-container .navbar-container {
  width: 100%;
}

/* Responsive Header.css */
/* For screen-size 800px-1000px */

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .header-container {
    width: 82%;
  }
}
