.navbar {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0px 10px 0px;
}
.navbar li {
  list-style-type: none;
  font-size: 17px;
  font-weight: 500;
  color: #000000;
}

.navbar a {
  text-decoration: none;
}

.navbar .active li {
  color: #f08080;
}

/* Responsive Navbar.css */
/* For screen-size (1000px-1200px) */
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .navbar li {
    font-size: 16px;
  }
}
/* For screen-size (1000px-1200px) */
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .navbar li {
    font-size: 15px;
  }
}
/* For screen-size (650px-800px) */
@media screen and (min-width: 650px) and (max-width: 800px) {
  .navbar li {
    font-size: 15px;
  }
}
