.gallery {
  position: relative;
  width: 90%;
  height: 28vw;
  margin-top: 90px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #0000000d;
}

.gallery .gallery-image-details-container {
  position: absolute;
  bottom: 20%;
  left: 10%;
}

.gallery .gallery-image-title {
  font-size: 32px;
  color: #ffffff;
  margin: 5px;
  text-align: left;
}
.gallery .gallery-image-category-and-date {
  font-size: 16px;
  color: #fcfcfc;
  margin: 5px;
  text-align: left;
}

/* Responsive Gallery.css */
/* For screen-size 1000px-1200px */

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .gallery {
    margin-top: 80px;
  }
  .gallery .gallery-image-title {
    font-size: 27px;
  }
  .gallery .gallery-image-category-and-date {
    font-size: 14px;
  }
}

/* For screen-size 800px-1000px */
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .gallery {
    margin-top: 60px;
  }
  .gallery .gallery-image-title {
    font-size: 27px;
  }
  .gallery .gallery-image-category-and-date {
    font-size: 14px;
  }
}
