.horizontal-articles {
  width: 75%;
  margin: 80px auto 40px auto;
  text-align: left;
}

.horizontal-articles .horizontal-articles-title {
  display: inline-block;
  font-size: 30px;
  color: #000000;
  font-weight: 500;
  border-bottom: 3px solid #f08080;
  margin: 15px;
  padding: 10px 0px;
}

.horizontal-articles .horizontal-articles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.horizontal-articles .horizontal-articles-container a {
  text-decoration: none;
}

.horizontal-articles .article-container {
  width: 31%;
}

/* Responsive HorizonatlArticle.css */
/* For screen-size (1000px-1200px) */

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .horizontal-articles {
    margin: 50px auto 20px auto;
  }

  .horizontal-articles .horizontal-articles-title {
    font-size: 28px;
    margin: 10px;
    padding: 5px 0px;
  }

  .horizontal-articles .article-container {
    width: 32%;
  }
}

/* For screen-size (800px-1000px) */

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .horizontal-articles {
    width: 82%;
    margin: 50px auto 20px auto;
  }

  .horizontal-articles .horizontal-articles-title {
    font-size: 27px;
    margin: 10px;
    padding: 5px 0px;
  }

  .horizontal-articles .article-container {
    width: 32%;
  }
}

/* For screen-size (650px-800px) */

@media screen and (min-width: 650px) and (max-width: 800px) {
  .horizontal-articles {
    width: 80%;
    margin: 50px auto 20px auto;
  }

  .horizontal-articles .horizontal-articles-title {
    font-size: 27px;
    margin: 10px;
    padding: 5px 0px;
  }

  .horizontal-articles .horizontal-articles-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .horizontal-articles .article-container {
    width: 100%;
    margin: auto;
  }
}

/* For screen-size (350px-650px) */

@media screen and (min-width: 350px) and (max-width: 650px) {
  .horizontal-articles {
    width: 85%;
    margin: 30px auto;
  }

  .horizontal-articles .horizontal-articles-title {
    font-size: 25px;
    margin: 10px;
    padding: 5px 0px;
  }

  .horizontal-articles .horizontal-articles-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .horizontal-articles .article-container {
    width: 100%;
    margin: auto;
  }
}
