.vertical-articles {
  width: 100%;
  margin: 50px auto;
  text-align: left;
}

.vertical-articles .vertical-articles-title {
  display: inline-block;
  font-size: 30px;
  color: #000000;
  font-weight: 500;
  border-bottom: 3px solid #f08080;
  margin: 15px 0px;
  padding: 10px 0px;
}

.vertical-articles .vertical-articles-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.vertical-articles .article-container {
  width: 85%;
  margin: 10px 0px;
  padding: 20px 0px;
  border-top: 3px solid #f0f0f0;
}

.vertical-articles a {
  text-decoration: none;
}

.vertical-articles .expand-btn button {
  border: none;
  background-color: #ffffff;
  padding-left: 0px;
  margin-top: 20px;
  cursor: pointer;
}
.vertical-articles .expand-btn span {
  color: #a2a2a2;
  font-size: 16px;
  margin-left: 5px;
}

/* Responsive VerticalArticles.css */
/* For screen-size 1000px-1200px */

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .vertical-articles {
    margin: 30px auto;
  }
  .vertical-articles .vertical-articles-title {
    font-size: 28px;
  }
  .vertical-articles .article-container {
    width: 90%;
    padding: 15px 0px;
  }
}

/* For screen-size 800px-1000px */

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .vertical-articles {
    margin: 30px auto;
  }
  .vertical-articles .vertical-articles-title {
    font-size: 27px;
  }
  .vertical-articles .article-container {
    width: 90%;
    padding: 0px 0px;
  }
  .vertical-articles .expand-btn span {
    font-size: 15px;
  }
}

/* For screen-size 650px-800px */

@media screen and (min-width: 650px) and (max-width: 800px) {
  .vertical-articles {
    margin: 30px auto;
  }
  .vertical-articles .vertical-articles-title {
    font-size: 27px;
  }
  .vertical-articles .article-container {
    width: 100%;
    padding: 0px 0px;
  }
  .vertical-articles .expand-btn span {
    font-size: 15px;
  }
}
