.author-details {
  border-top: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  margin: 30px 0px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: left;
}

.author-details .author-image-container {
  padding: 10px;
  padding-left: 0px;
  text-align: left;
}

.author-details .author-image {
  height: 70px;
  width: 70px;
}
.author-details .author-info {
  width: 60%;
  text-align: left;
  padding: 20px 0px;
}
.author-details .author-info p {
  margin: 8px;
}
.author-details .author-info span {
  margin-right: 5px;
}
.author-details .author-info .author-name {
  font-size: 16px;
  font-weight: 500;
}
.author-details .author-info .author-article-details {
  font-size: 12px;
  color: #a2a2a2;
}

.author-details .author-social-handles {
  width: 30%;
  padding: 30px 0px;
  text-align: right;
}
.author-details .social-media-acc-icon {
  margin: 5px;
  height: 22px;
  width: 22px;
  border-radius: 5px;
}

/* Responsive AuthorDetails.css */

/* For screen-size 1000px-1200px */
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .author-details .author-info {
    width: 50%;
  }
  .author-details .social-media-acc-icon {
    margin: 5px;
    height: 21px;
    width: 21px;
  }
}
/* For screen-size 800px-1000px */
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .author-details .author-image-container {
    padding-top: 15px;
  }
  .author-details .author-image {
    height: 65px;
    width: 65px;
  }
  .author-details .author-info {
    width: 50%;
  }
  .author-details .social-media-acc-icon {
    margin: 4px;
    height: 21px;
    width: 21px;
  }
}
/* For screen-size 650px-800px */
@media screen and (min-width: 650px) and (max-width: 800px) {
  .author-details .author-image-container {
    padding-top: 15px;
  }
  .author-details .author-image {
    height: 65px;
    width: 65px;
  }
  .author-details .author-info {
    width: 50%;
  }
  .author-details .social-media-acc-icon {
    margin: 4px;
    height: 21px;
    width: 21px;
  }
}
/* For screen-size 350px-650px */
@media screen and (min-width: 350px) and (max-width: 650px) {
  .author-details {
    flex-wrap: wrap;
  }
  .author-details .author-image-container {
    padding-top: 15px;
  }
  .author-details .author-image {
    height: 65px;
    width: 65px;
  }
  .author-details .author-info {
    width: 70%;
  }
  .author-details .author-social-handles {
    /* order: -1;
    width: 100%;
    text-align: left;
    padding: 10px; */
    display: none;
  }
  .author-details .social-media-acc-icon {
    margin: 4px;
    height: 21px;
    width: 21px;
  }
}
