.author-details {
  border-top: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  margin: 30px 0px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: left;
}

.author-details .author-image-container {
  padding: 10px;
  padding-left: 0px;
  text-align: left;
}

.author-details .author-image {
  height: 70px;
  width: 70px;
}
.author-details .author-info {
  width: 60%;
  text-align: left;
  padding: 20px 0px;
}
.author-details .author-info p {
  margin: 8px;
}
.author-details .author-info span {
  margin-right: 5px;
}
.author-details .author-info .author-name {
  font-size: 16px;
  font-weight: 500;
}
.author-details .author-info .author-article-details {
  font-size: 12px;
  color: #a2a2a2;
}

.author-details .author-social-handles {
  width: 30%;
  padding: 30px 0px;
  text-align: right;
}
.author-details .social-media-acc-icon {
  margin: 5px;
  height: 22px;
  width: 22px;
  border-radius: 5px;
}
